@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
/************************
MIXIN
************************/
/************************
BASIC STYLE
************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  margin: auto;
}

h1 {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 400;
  text-shadow: 0 0 2px #080033;
}

/************************
TOP BAR
************************/
.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  font-size: 1.7rem;
}

.topBar .logo {
  color: #3177b5;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.topBar .logo span {
  color: #33a5d7;
  font-weight: 700;
  font-style: italic;
}

.topBar .logo:hover {
  opacity: .8;
}

.topBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topBar ul a {
  background-color: #3177b5;
  border-radius: 50%;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  margin-left: 30px;
}

.topBar ul a:hover {
  -webkit-box-shadow: 0 0 10px #a0a0a0;
          box-shadow: 0 0 10px #a0a0a0;
  background-color: #33a5d7;
}

/************************
MAIN HEADER
************************/
.mainHeader {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 119, 181, 0.7)), to(rgba(49, 119, 181, 0.7))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(49, 119, 181, 0.7), rgba(49, 119, 181, 0.7)), url(../img/header.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
}

.mainHeader nav {
  padding-top: 20px;
}

.mainHeader nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainHeader nav ul a {
  color: white;
  font-size: 1.3rem;
  margin-left: 40px;
}

.mainHeader hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75vh;
  text-align: center;
  width: 50%;
  color: #fff;
  margin: auto;
}

.mainHeader hgroup p {
  font-size: 1.2rem;
}

.mainHeader hgroup button {
  padding: 10px 40px;
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainHeader hgroup button:hover {
  background: #fff;
  color: #3177b5;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

/************************
CONTACT
************************/
.contact {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact article h3 {
  color: #3177b5;
  font-size: 2rem;
}

.contact article h3::after {
  background: #3177b5;
  display: block;
  height: 2px;
  content: "";
  margin: 0 0 20px 0;
  width: 50px;
}

.contact article p {
  color: #33a5d7;
}

/************************
MAP
************************/
.map iframe {
  display: block;
}

/************************
FOOTER
************************/
footer {
  background: #3177b5;
  text-align: center;
  padding: 20px;
}

footer p {
  color: #fff;
}

/************************
SERVICES
************************/
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -80px;
}

.services article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.services article i {
  font-size: 4rem;
}

.services article h3 {
  font-size: 1.8rem;
  margin: 20px 0;
}

.services article button {
  padding: 10px 40px;
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-top: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.services article button:hover {
  background: #fff;
  color: #3177b5;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.services article:nth-child(odd) {
  background: #3177b5;
}

.services article:nth-child(even) {
  background: #33a5d7;
}
/*# sourceMappingURL=style.css.map */